@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");



h1 {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    overflow: hidden;
    font-size: 3rem;
    line-height: 3rem; 
}

h2 {
    text-align: center;
    color: midnightblue;
    font: bold 2rem "Open Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 3rem;
}

.itemDetailContainer{
    display: flex;
    justify-content: center;
}