.itemCard {
    border-radius: 16px;
    background: lavender;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 250px;
}

.itemDetailCard{
    border-radius: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
}

.itemTitle {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
}

.itemCategory{
    font-weight: normal;
    font-size: 1.6rem;
    color: grey;
}

.itemPicture {
    background: ghostwhite;
}

.itemPictureDescription{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: whitesmoke;
}

.itemDetail {
    padding: 8px 0;
    background: ghostwhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemDescription{
    font-weight: normal;
    padding:25px;
}

.itemDescription h3{
    font-weight: bold;
    font-size: 1.65rem;
    margin:0;
    padding-bottom:25px;
}

.itemDetail h2 {
margin: 0;
}

.itemDetailBtn {
    margin: 4px;
}

.itemCounter {
    padding: 8px;
}

.itemCount {
    display: flex;
    flex-flow: column;
    gap: 2px; 
    width: 200px;
    margin: auto;
}

.addToCartBtn {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-self: center;
}

@media screen and (max-width: 480px) {
    .itemPictureDescription{
        flex-direction: column;
    }
}