.orderCard {
    border-radius: 16px;
    background: lavender;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
}

.orderTitle {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
}

.buyerDetail {
    background: floralwhite;
}

.productTitle{
    background: lavender;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: auto;
}

.items {
    background: ghostwhite;
}

.loginForm {
    width: 200px;
    margin: auto;
}

.orderList{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

h1 {
    padding: 20px 0;
    margin-top: 10px;
}